.menu {
  display: table-cell;
  float: left;
  margin-left: 50px;
}

body{
  color: #000033;
  background: #CCCCFF;
  font-family: Arial;
  font-weight: 300;
}

.text{
  font-family: Arial;
  font-weight: 300;
  font-size: 20px;
  color: #000033;
}
ul {
    list-style-type: none;
    background-color: #F59434;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #99CCCC}

th {
    background-color: #ffffff;
    color: #111111;
}
.basket{
	float:left;
	border-width:5px;
  	border-style:solid;
  	border-color:#F59434;
}

.delete{
	width:40px;
}

.add{
	width:35px;
}
.order{
	width:150px;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

p{
  font-family: Arial;
  font-weight: 300;
  font-size: 20px;
  color: #000033;
}
.orderBtn{
  margin-top:30px;
  margin-bottom:50px;
}
button{
  font-size: 16px;
}

