<!DOCTYPE html>
<html lang="pl" ng-app="pizzaPortal">
  <head>
    <meta charset="utf-8">
    <title>Zamówienia</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-messages.min.js"></script>
    <script src="app.js"></script>
    <script src="/mainCtrl.js"></script>
    <script src="/orderCtrl.js"></script>
    <script src="/statusCtrl.js"></script>
    <script src="/contactCtrl.js"></script>
  </head>
    
  <body ng-controller="orderCtrl">
    <div class="orderSummary, center">

        <table id="summary">
                    <tr>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                 
                    </tr>
                    <tr ng-repeat="order in orders">
                        <td>{{order.name}}</td>   
                        <td>{{order.quantity}}</td>   
                        <td>{{order.price.toFixed(2)}}</td>   
                    </tr>
                    <tr>
                        <td><b>Razem do zapłaty: {{sumPrice()}}</b></td>
                        <td></td>
                    </tr>  
                    <tr>
                    </tr>
                    </table>

    </div>
    
    <div class="orderForm, center">  
        <p>Podaj dane kontaktowe:</p>
        <form name="dataForm">
          <div ng-class="{error: isInvalid('phoneNumber')}">
                <label>
                    Numer telefonu: 
                </label>
                <input type="text" name="phoneNumber" placeholder="Podaj nr telefonu" ng-model="phoneNumber" required/>
                <span ng-show="isInvalid('phoneNumber')">Numer telefonu jest wymagany.</span>

        </div>
               <div ng-class="{error: isInvalid('street')}">
                <label>
                    Adres:
                </label>
                <input type="text" placeholder="Podaj adres" name="street" ng-model="street" required>
                <span ng-show="isInvalid('street')">Adres jest wymagany.</span>
           </div>
            <div class="orderBtn">
                <button ng-click="goBack()">Powrót</button>
                <button ng-click="orderPizza()">Zatwierdź</button>
             </div> 
        </form>
    
    
    </div>
      
    
      
</body>
</html>
